
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/zui/zui.min.css" rel="stylesheet">
    <link href="/css/zui/zui-grey.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="/lib/ieonly/html5shiv.js"></script>
    <script src="/lib/ieonly/respond.js"></script>
    <script src="/lib/ieonly/excanvas.js"></script>
    <![endif]-->
    <style>
        .nav-border {
            border-right: 1px solid white;
            box-shadow: 0 0 3px 0;
            border-radius: 0;
        }
        .nav-center {
            margin-right: auto;
        }
        .navbar{
            margin-bottom: 10px;
        }
    </style>

